/* [project]/styles/constants.css [client] (css) */
.color-red {
  color: #ef473a;
}

.color-green {
  color: #28a54c;
}

.H-100 {
  height: 100%;
}

.H-33 {
  height: 33%;
}

.H-25 {
  height: 25%;
}

.W-100 {
  width: 100%;
}

.W-90 {
  width: 90%;
}

.W-80 {
  width: 80%;
}

.W-85 {
  width: 85%;
}

.W-75 {
  width: 75%;
}

.W-50 {
  width: 50%;
}

.W-33 {
  width: 33%;
}

.W-25 {
  width: 25%;
}

.W-40 {
  width: 40%;
}

.W-36-px {
  width: 36px;
}

.W-20-px {
  width: 20px;
}

.W-25-px {
  width: 25px;
}

.H-100vh {
  height: 100vh;
}

.W-100vw {
  width: 100vw;
}

.MT-5 {
  margin-top: 5%;
}

.M-5 {
  margin: 5%;
}

.M-5-px {
  margin: 5px;
}

.MT-2-5 {
  margin-top: 2.5%;
}

.H-25vh {
  height: 25vh;
}

.H-33vh {
  height: 33vh;
}

.H-67vh {
  height: 67vh;
}

.F-12 {
  font-size: 12px;
}

.F-16 {
  font-size: 16px;
}

.MT-5-pixels {
  margin-top: 5px !important;
}

.MT-12 {
  margin-top: 12px !important;
}

.PT-8 {
  padding-top: 8px;
}

.W-48-pixels {
  width: 48px;
}

.MR-2-5 {
  margin-right: 2.5%;
}

.ML-2-5 {
  margin-left: 2.5%;
}

.H-100-36 {
  height: calc(100% - 36px);
}

.F-24 {
  font-size: 24px;
}

.F-30 {
  font-size: 30px;
}

.P-2-5 {
  padding: 2.5px !important;
}

.P-5 {
  padding: 5px !important;
}

.F-20 {
  font-size: 20px;
}

.BR-4 {
  border-radius: 4px;
}

.MB-5 {
  margin-bottom: 5px;
}

.F-18 {
  font-size: 18px;
}

.M-10 {
  margin: 10px;
}

.F-22 {
  font-size: 22px;
}

.MT-0 {
  margin-top: 0 !important;
}

.W-72-px {
  width: 72px;
}

.BB {
  border-bottom: 1px solid #444;
}

.PT-16 {
  padding-top: 16px !important;
}

.LH-14 {
  line-height: 14px;
}

.P-6-5 {
  padding: 6px 5px !important;
}

.MR-5 {
  margin-right: 5px;
}

.text-center {
  text-align: center;
}

.W-80-vw {
  width: 80vw;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-bold {
  font-weight: bold;
}

.text-normal {
  font-weight: normal;
}

.text-50 {
  font-size: 50px;
}

.text-35 {
  font-size: 35px;
}

.text-34 {
  font-size: 34px;
}

.text-33 {
  font-size: 33px;
}

.text-32 {
  font-size: 32px;
}

.text-31 {
  font-size: 31px;
}

.text-30 {
  font-size: 30px;
}

.text-29 {
  font-size: 29px;
}

.text-28 {
  font-size: 28px;
}

.text-27 {
  font-size: 27px;
}

.text-26 {
  font-size: 26px;
}

.text-25 {
  font-size: 25px;
}

.text-24 {
  font-size: 24px;
}

.text-23 {
  font-size: 23px;
}

.text-22 {
  font-size: 22px;
}

.text-21 {
  font-size: 21px;
}

.text-20 {
  font-size: 20px;
}

.text-19 {
  font-size: 19px;
}

.text-18 {
  font-size: 18px;
}

.text-17 {
  font-size: 17px;
}

.text-16 {
  font-size: 16px;
}

.text-15 {
  font-size: 15px;
}

.text-14 {
  font-size: 14px;
}

.text-13 {
  font-size: 13px;
}

.text-12 {
  font-size: 12px;
}

.text-11 {
  font-size: 11px;
}

.text-10 {
  font-size: 10px;
}

.text-9 {
  font-size: 9px;
}

.text-8 {
  font-size: 8px;
}

.text-7 {
  font-size: 7px;
}

.text-75 {
  font-size: 75px;
}

.text-40 {
  font-size: 40px;
}

.text-55 {
  font-size: 55px;
}

.red-color {
  color: red;
}

.H-50-px {
  height: 50px;
}

.color-888888 {
  color: #888;
}

.text-italic {
  font-style: italic;
}

.text-capitalize {
  text-transform: uppercase;
}

.color-orange {
  color: #fd7e1d;
}

.bg-orange {
  background: #fd7e1d !important;
}

.color-theme {
  color: #00ab9b;
}

.bg-theme {
  background: #00ab9b !important;
}

.color-blue {
  color: #133c8c;
}

.bg-blue {
  background: #133c8c;
}

.bg-white {
  background: #fff;
}

.color-white {
  color: #fff;
}

.color-2d2c2c {
  color: #2d2c2c;
}

/*# sourceMappingURL=styles_constants_css_2bef753f._.single.css.map*/