/* [project]/styles/publications.css [client] (css) */
.contact-section {
  background-color: #e2e3e4;
}

.publication-body .row > * {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.modal {
  z-index: 1;
  background-color: #00000080;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
}

.modal-content {
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
}

.star-rating {
  justify-content: center;
  display: flex;
}

.star-rating i {
  cursor: pointer;
  font-size: 30px;
}

.star-rating i.selected {
  color: #00ab9b !important;
  background-color: #fff !important;
}

.star-rating i.half-selected {
  background: linear-gradient(to left, gold 50%, gray 50%);
  color: #0000;
  -webkit-background-clip: text;
  color: #00ab9b !important;
}

[dir="rtl"] .fa-step-backward, [dir="rtl"] .fa-step-forward {
  transform: scaleX(-1);
}

.far {
  color: #c2c6c6;
}

ul#NCSITheme {
  padding: 0;
}

.bsslidewrap .carousel-item img {
  -o-object-fit: contain;
  object-fit: contain;
  height: 237px;
  margin: 0 auto;
  width: 220px !important;
}

.bsslidewrap .carousel-indicators {
  top: 251px !important;
  bottom: unset !important;
}

.c-content-wrap {
  padding-top: 45px;
}

.bsslidewrap .carousel-indicators [data-bs-target] {
  border: none;
  border-radius: 4px;
  margin: 2px;
  padding: 1px;
  width: 50px !important;
  height: 5px !important;
}

.hoverimage.img-section img {
  height: 170px;
  margin: 0 auto;
  display: block;
}

.handleBookmark {
  position: absolute;
  top: 66px;
  left: 24px;
}

.rounded-box {
  color: #fff;
  text-align: center;
  background-color: #7e8eab;
  border: 1px solid #ccc;
  border-radius: 25px;
  margin-bottom: 10px;
  padding-top: 10px;
  transition: box-shadow .3s;
}

.rounded-box:hover {
  box-shadow: 0 4px 20px #0000001a;
}

.card-container {
  flex-wrap: wrap;
  display: flex;
}

.card {
  box-shadow: transparent;
  background-color: #0000;
  border-radius: 8px;
}

.card-title {
  margin-bottom: 8px;
  font-size: 1.25em;
}

.card-description {
  color: #555;
  font-size: 1em;
}

.publ-group-item {
  cursor: pointer;
}

.page-button {
  cursor: pointer;
  background-color: #f0f0f0;
  border: none;
  border-radius: 3px;
  margin: 0 5px;
  padding: 5px 10px;
  transition: background-color .3s;
}

.page-button.active {
  color: #fff;
  background-color: #007bff;
  font-weight: bold;
}

.pagination {
  align-items: center;
  display: flex;
}

a.close_EBTN {
  font-size: 20px;
  position: absolute;
  top: 6px;
  right: 15px;
}

.ebook_ {
  color: #00a99d;
  border-radius: 0;
  padding: 10px;
  font-size: 29px;
  position: absolute;
  bottom: -18px;
  left: 8px;
  width: 55px !important;
}

html[dir="rtl"] .fa-star-half-alt:before, html[dir="rtl"] .fa-star-half-stroke:before {
  content: "";
  display: inline-block;
  transform: scaleX(-1);
}

.visually-hidden {
  display: none;
}

.carousel-control-next, .carousel-control-prev {
  border: 0;
  display: -webkit-box !important;
}

.bsdetailsWrap img {
  width: 100% !important;
}

.bsdetailsWrap {
  background-color: #fff !important;
  border-radius: 5px !important;
}

.forbbtn a {
  color: #fff !important;
  text-align: center !important;
  background-color: #00ab9b !important;
  border-radius: 4px !important;
  width: 100% !important;
  padding: 8px !important;
  text-decoration: none !important;
  display: block !important;
}

.custdflexx {
  justify-content: space-between !important;
}

.prgressbsWrapInner .progress {
  height: 5px !important;
}

.prgressbsWrap {
  margin-bottom: 45px !important;
  padding: 8px 25px !important;
}

.bsdetailsContent {
  margin-bottom: 34px;
  padding: 0 25px !important;
}

.prgressbsWrapInner {
  margin-bottom: 15px !important;
}

.bsslidewrap .carousel-indicators [data-bs-target] {
  background-color: #ddd !important;
}

.progress-bar {
  background-color: #a9a9a9 !important;
}

.custdflexx span {
  font-size: 15px !important;
  font-weight: 500 !important;
}

.bsdetailsContent span {
  margin-bottom: 30px !important;
  display: block !important;
}

.bsslidewrap .carousel-indicators .active {
  background-color: #00ab9b !important;
}

.bsslidewrap .carousel-indicators {
  margin-bottom: 0 !important;
}

.bsdetailsContent h6 {
  color: #000;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  height: 49px !important;
  font-size: 15px !important;
}

.bsdetailsContent span {
  color: gray !important;
  margin-bottom: 30px !important;
  font-size: 14px !important;
  display: block !important;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  background-color: #bdbdbd !important;
  background-position: center !important;
  background-size: 16px !important;
  border-radius: 50% !important;
  width: 20px !important;
  height: 20px !important;
}

.top-search-box {
  justify-content: center;
  gap: 4px;
  margin-bottom: 8px;
  display: flex;
  margin-top: 13px !important;
}

input.topSearchInput {
  border: none;
  border-radius: 20px;
  outline: 0;
  width: 100%;
  height: 38px;
  margin-bottom: 4px;
  padding: 3px 10px;
  font-size: 13px;
}

span.tsearchCartIcon {
  text-align: center;
  background-color: #fff;
  border-radius: 33px;
  width: 32px;
  height: 32px;
  line-height: 30px;
  display: inline-block;
}

.tsearchCartWrap {
  position: relative;
}

span.tsearchCartCount {
  color: #fff;
  text-align: center;
  background-color: orange;
  border-radius: 30px;
  width: 14px;
  height: 14px;
  font-size: 11px;
  position: absolute;
  bottom: 0;
  right: -5px;
}

.bsslidewrap .carousel-indicators [data-bs-target] {
  width: 50px;
  height: 5px !important;
}

.selected {
  color: #fff !important;
  background-color: #7e8eab !important;
}

.publ-group-item {
  transition: background-color .3s;
}

.publ-group-item:hover {
  color: #fff;
  background-color: #7e8eab;
}

.publ-group-item {
  background-color: #fff;
  border: 1px solid #00000020;
  margin-bottom: -1px;
  padding: 7px 20px;
  display: block;
  position: relative;
}

.ClassificationScroll {
  scrollbar-width: thin;
  scrollbar-color: #7e8eab #ececec;
  height: 553px;
  overflow-y: scroll;
}

.card-container {
  padding-top: 34px;
}

.row.publication-body {
  padding: 20px 0;
}

.flip-card {
  perspective: 1000px;
  background-color: #fff;
  border-radius: 5px 5px 0 0;
  height: 260px;
  margin-top: 25px;
}

.flip-card-inner {
  text-align: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.flip-card-front {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
}

.flip-card-back {
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
}

.flip-card-front {
  color: #000;
}

.flip-card-back {
  color: #fff;
  text-align: center;
  background-color: #00ab9b;
  padding: 10px;
}

.handouts-section .img-section {
  background-color: #fff;
  padding: 8px 30px;
}

.handouts-section ._title {
  height: unset;
  background-color: #00ab9b;
  border-radius: 5px;
  min-height: 70px;
  max-height: 70px;
  padding: 8px;
}

.handouts-section ._title h6 {
  color: #fff;
  text-align: center;
}

.handouts-section ._title ul {
  margin: 0;
  padding: 0;
  display: inline-flex;
}

.handouts-section ._title ul li .download-icon {
  max-width: 30px !important;
}

.handouts-section ._title ul li {
  padding: 0 10px;
}

._title h5 {
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  line-height: 23px;
  display: -webkit-box;
  overflow: hidden;
  font-size: 16px !important;
}

.pagination {
  width: 100%;
  text-align: center !important;
  margin: 10px auto 0 !important;
  display: block !important;
}

.page-button {
  cursor: pointer;
  border: none;
  border-radius: 3px;
  margin: 0 5px;
  padding: 5px 10px;
  transition: background-color .3s;
  color: #fff !important;
  background-color: #7e8eab !important;
}

.page-button:hover {
  background-color: #f0f0f0;
}

.page-button.active {
  background-color: #ddd;
}

.header-row-col-middle-sub .row .middle-col-small-device {
  padding-left: 10px;
  padding-right: 0;
}

[dir="rtl"] .page-button i {
  transform: scaleX(-1);
}

div#ratingModal .modal-content {
  width: 300px !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

@media (width >= 577px) and (width <= 1199px) {
  .row.publication-body {
    padding: 20px 40px;
  }
}

@media (width >= 992px) {
  .row.publication-body > .col-lg-3, .row.publication-body > .col-lg-6 > .row > .col-lg-4 {
    flex: 0 0 20%;
    max-width: 20%;
  }

  .row.publication-body > .col-lg-6 {
    flex: 0 0 60%;
    max-width: 60%;
  }
}

@media (width >= 1200px) {
  .ncsi-arabic .header-row-col-middle-sub {
    float: left;
    margin-left: 10px;
  }

  .header-icons-grid {
    margin: 5px auto;
    width: 99% !important;
  }

  .row.publication-body {
    width: calc(90% - 20px);
    margin: auto;
  }
}

@media screen and (width >= 1600px) {
  .row.publication-body {
    width: 90%;
    max-width: 1900px;
    margin: auto;
  }
}

@media (width <= 576px) {
  .row.publication-body {
    padding: 20px 30px;
  }

  .sidebarSlider {
    justify-content: center;
    display: flex;
  }
}

/*# sourceMappingURL=styles_publications_css_2bef753f._.single.css.map*/