/* [project]/styles/globals.css [client] (css) */
*, :before, :after {
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
}

:before, :after {
  --tw-content: "";
}

html {
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-feature-settings: normal;
  font-variation-settings: normal;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  line-height: 1.5;
}

body {
  line-height: inherit;
  margin: 0;
}

hr {
  height: 0;
  color: inherit;
  border-top-width: 1px;
}

abbr:where([title]) {
  text-decoration: underline dotted;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
  text-decoration: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp, pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  vertical-align: baseline;
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
}

button, input, optgroup, select, textarea {
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

button, select {
  text-transform: none;
}

button, [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button;
  background-color: #0000;
  background-image: none;
}

:-moz-focusring {
  outline: auto;
}

:-moz-ui-invalid {
  box-shadow: none;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button, ::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

blockquote, dl, dd, h1, h2, h3, h4, h5, h6, hr, figure, p, pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol, ul, menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

dialog {
  padding: 0;
}

textarea {
  resize: vertical;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  color: #9ca3af;
}

input::placeholder, textarea::placeholder {
  opacity: 1;
  color: #9ca3af;
}

button, [role="button"] {
  cursor: pointer;
}

:disabled {
  cursor: default;
}

img, svg, video, canvas, audio, iframe, embed, object {
  vertical-align: middle;
  display: block;
}

img, video {
  max-width: 100%;
  height: auto;
}

[hidden] {
  display: none;
}

*, :before, :after, ::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: #3b82f680;
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
}

.container {
  width: 100%;
}

@media (width >= 640px) {
  .container {
    max-width: 640px;
  }
}

@media (width >= 768px) {
  .container {
    max-width: 768px;
  }
}

@media (width >= 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (width >= 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (width >= 1536px) {
  .container {
    max-width: 1536px;
  }
}

.sr-only {
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  position: absolute;
  overflow: hidden;
}

.visible {
  visibility: visible;
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.inset-0 {
  inset: 0;
}

.-right-5 {
  right: -1.25rem;
}

.-top-5 {
  top: -1.25rem;
}

.bottom-0 {
  bottom: 0;
}

.left-0 {
  left: 0;
}

.left-2 {
  left: .5rem;
}

.right-2 {
  right: .5rem;
}

.right-3 {
  right: .75rem;
}

.top-1\/2 {
  top: 50%;
}

.top-3 {
  top: .75rem;
}

.z-0 {
  z-index: 0;
}

.z-10 {
  z-index: 10;
}

.z-20 {
  z-index: 20;
}

.z-30 {
  z-index: 30;
}

.z-40 {
  z-index: 40;
}

.z-50 {
  z-index: 50;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.clear-both {
  clear: both;
}

.m-0 {
  margin: 0;
}

.mx-1 {
  margin-left: .25rem;
  margin-right: .25rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: .25rem;
}

.mb-10 {
  margin-bottom: 2.5rem;
}

.mb-16 {
  margin-bottom: 4rem;
}

.mb-2 {
  margin-bottom: .5rem;
}

.mb-3 {
  margin-bottom: .75rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

.me-1 {
  margin-inline-end: .25rem;
}

.ml-2 {
  margin-left: .5rem;
}

.ml-6 {
  margin-left: 1.5rem;
}

.ml-\[14px\] {
  margin-left: 14px;
}

.mr-1 {
  margin-right: .25rem;
}

.mr-2 {
  margin-right: .5rem;
}

.mr-3 {
  margin-right: .75rem;
}

.mr-6 {
  margin-right: 1.5rem;
}

.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: .25rem;
}

.mt-10 {
  margin-top: 2.5rem;
}

.mt-2 {
  margin-top: .5rem;
}

.mt-20 {
  margin-top: 5rem;
}

.mt-3 {
  margin-top: .75rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mt-6 {
  margin-top: 1.5rem;
}

.mt-auto {
  margin-top: auto;
}

.line-clamp-3 {
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.inline {
  display: inline;
}

.\!flex {
  display: flex !important;
}

.flex {
  display: flex;
}

.table {
  display: table;
}

.grid {
  display: grid;
}

.hidden {
  display: none;
}

.\!h-8 {
  height: 2rem !important;
}

.h-10 {
  height: 2.5rem;
}

.h-36 {
  height: 9rem;
}

.h-4 {
  height: 1rem;
}

.h-5 {
  height: 1.25rem;
}

.h-6 {
  height: 1.5rem;
}

.h-8 {
  height: 2rem;
}

.h-9 {
  height: 2.25rem;
}

.h-\[110px\] {
  height: 110px;
}

.h-\[125px\] {
  height: 125px;
}

.h-\[250px\] {
  height: 250px;
}

.h-\[260px\] {
  height: 260px;
}

.h-\[300px\] {
  height: 300px;
}

.h-\[350px\] {
  height: 350px;
}

.h-\[68px\] {
  height: 68px;
}

.h-\[90px\] {
  height: 90px;
}

.h-auto {
  height: auto;
}

.h-full {
  height: 100%;
}

.max-h-0 {
  max-height: 0;
}

.max-h-52 {
  max-height: 13rem;
}

.max-h-\[1000px\] {
  max-height: 1000px;
}

.max-h-\[280px\] {
  max-height: 280px;
}

.min-h-\[140px\] {
  min-height: 140px;
}

.min-h-\[260px\] {
  min-height: 260px;
}

.min-h-\[55vh\] {
  min-height: 55vh;
}

.min-h-\[70vh\] {
  min-height: 70vh;
}

.min-h-screen {
  min-height: 100vh;
}

.\!w-8 {
  width: 2rem !important;
}

.w-4 {
  width: 1rem;
}

.w-5 {
  width: 1.25rem;
}

.w-6 {
  width: 1.5rem;
}

.w-8 {
  width: 2rem;
}

.w-9 {
  width: 2.25rem;
}

.w-\[180px\] {
  width: 180px;
}

.w-\[18px\] {
  width: 18px;
}

.w-\[240px\] {
  width: 240px;
}

.w-\[250px\] {
  width: 250px;
}

.w-\[280px\] {
  width: 280px;
}

.w-\[30px\] {
  width: 30px;
}

.w-\[350px\] {
  width: 350px;
}

.w-\[40px\] {
  width: 40px;
}

.w-\[50px\] {
  width: 50px;
}

.w-\[90\%\] {
  width: 90%;
}

.w-\[95\%\] {
  width: 95%;
}

.w-full {
  width: 100%;
}

.min-w-\[120px\] {
  min-width: 120px;
}

.min-w-\[350px\] {
  min-width: 350px;
}

.min-w-\[380px\] {
  min-width: 380px;
}

.min-w-full {
  min-width: 100%;
}

.max-w-6xl {
  max-width: 72rem;
}

.max-w-7xl {
  max-width: 80rem;
}

.max-w-\[1100px\] {
  max-width: 1100px;
}

.max-w-\[1200px\] {
  max-width: 1200px;
}

.max-w-\[230px\] {
  max-width: 230px;
}

.max-w-\[450px\] {
  max-width: 450px;
}

.max-w-\[85rem\] {
  max-width: 85rem;
}

.max-w-\[90\%\] {
  max-width: 90%;
}

.max-w-\[90vw\] {
  max-width: 90vw;
}

.max-w-lg {
  max-width: 32rem;
}

.max-w-md {
  max-width: 28rem;
}

.max-w-sm {
  max-width: 24rem;
}

.flex-1 {
  flex: 1;
}

.flex-\[3\] {
  flex: 3;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.flex-grow {
  flex-grow: 1;
}

.table-fixed {
  table-layout: fixed;
}

.border-collapse {
  border-collapse: collapse;
}

.-translate-y-1\/2 {
  --tw-translate-y: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.rotate-0 {
  --tw-rotate: 0deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.rotate-180 {
  --tw-rotate: 180deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.rotate-90 {
  --tw-rotate: 90deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.cursor-pointer {
  cursor: pointer;
}

.select-none {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.list-none {
  list-style-type: none;
}

.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.place-items-center {
  place-items: center;
}

.items-start {
  align-items: flex-start;
}

.\!items-center {
  align-items: center !important;
}

.items-center {
  align-items: center;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.\!justify-center {
  justify-content: center !important;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-items-center {
  justify-items: center;
}

.gap-0 {
  gap: 0;
}

.gap-1 {
  gap: .25rem;
}

.gap-2 {
  gap: .5rem;
}

.gap-3 {
  gap: .75rem;
}

.gap-4 {
  gap: 1rem;
}

.gap-6 {
  gap: 1.5rem;
}

.gap-\[4px\] {
  gap: 4px;
}

.gap-x-10 {
  -moz-column-gap: 2.5rem;
  column-gap: 2.5rem;
}

.gap-x-14 {
  -moz-column-gap: 3.5rem;
  column-gap: 3.5rem;
}

.gap-x-8 {
  -moz-column-gap: 2rem;
  column-gap: 2rem;
}

.gap-y-12 {
  row-gap: 3rem;
}

.gap-y-3 {
  row-gap: .75rem;
}

.gap-y-6 {
  row-gap: 1.5rem;
}

.space-y-12 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(3rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(3rem * var(--tw-space-y-reverse));
}

.space-y-3 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(.75rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(.75rem * var(--tw-space-y-reverse));
}

.divide-y > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-y-reverse: 0;
  border-top-width: calc(1px * calc(1 - var(--tw-divide-y-reverse)));
  border-bottom-width: calc(1px * var(--tw-divide-y-reverse));
}

.divide-gray-300 > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-divide-opacity));
}

.self-start {
  align-self: flex-start;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-x-auto {
  overflow-x: auto;
}

.overflow-y-auto {
  overflow-y: auto;
}

.truncate {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.whitespace-normal {
  white-space: normal;
}

.whitespace-nowrap {
  white-space: nowrap;
}

.whitespace-pre-line {
  white-space: pre-line;
}

.break-words {
  overflow-wrap: break-word;
}

.\!rounded-full {
  border-radius: 9999px !important;
}

.rounded {
  border-radius: .25rem;
}

.rounded-\[4px\] {
  border-radius: 4px;
}

.rounded-full {
  border-radius: 9999px;
}

.rounded-lg {
  border-radius: .5rem;
}

.rounded-md {
  border-radius: .375rem;
}

.rounded-sm {
  border-radius: .125rem;
}

.rounded-xl {
  border-radius: .75rem;
}

.border {
  border-width: 1px;
}

.border-2 {
  border-width: 2px;
}

.border-b {
  border-bottom-width: 1px;
}

.border-l-2 {
  border-left-width: 2px;
}

.border-l-4 {
  border-left-width: 4px;
}

.border-none {
  border-style: none;
}

.border-\[\#0056A3\] {
  --tw-border-opacity: 1;
  border-color: rgb(0 86 163 / var(--tw-border-opacity));
}

.border-\[\#009e99\] {
  --tw-border-opacity: 1;
  border-color: rgb(0 158 153 / var(--tw-border-opacity));
}

.border-\[\#00A895\] {
  --tw-border-opacity: 1;
  border-color: rgb(0 168 149 / var(--tw-border-opacity));
}

.border-\[\#ccc\] {
  --tw-border-opacity: 1;
  border-color: rgb(204 204 204 / var(--tw-border-opacity));
}

.border-\[\#ddd\] {
  --tw-border-opacity: 1;
  border-color: rgb(221 221 221 / var(--tw-border-opacity));
}

.border-\[\#e5b36a\] {
  --tw-border-opacity: 1;
  border-color: rgb(229 179 106 / var(--tw-border-opacity));
}

.border-gray-200 {
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity));
}

.border-gray-300 {
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity));
}

.border-white\/30 {
  border-color: #ffffff4d;
}

.\!bg-\[\#00a895\] {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(0 168 149 / var(--tw-bg-opacity)) !important;
}

.bg-\[\#009C8C\] {
  --tw-bg-opacity: 1;
  background-color: rgb(0 156 140 / var(--tw-bg-opacity));
}

.bg-\[\#009e99\] {
  --tw-bg-opacity: 1;
  background-color: rgb(0 158 153 / var(--tw-bg-opacity));
}

.bg-\[\#00A895\] {
  --tw-bg-opacity: 1;
  background-color: rgb(0 168 149 / var(--tw-bg-opacity));
}

.bg-\[\#00A896\] {
  --tw-bg-opacity: 1;
  background-color: rgb(0 168 150 / var(--tw-bg-opacity));
}

.bg-\[\#00a895\] {
  --tw-bg-opacity: 1;
  background-color: rgb(0 168 149 / var(--tw-bg-opacity));
}

.bg-\[\#00a99d\] {
  --tw-bg-opacity: 1;
  background-color: rgb(0 169 157 / var(--tw-bg-opacity));
}

.bg-\[\#133c8b\] {
  --tw-bg-opacity: 1;
  background-color: rgb(19 60 139 / var(--tw-bg-opacity));
}

.bg-\[\#666666\] {
  --tw-bg-opacity: 1;
  background-color: rgb(102 102 102 / var(--tw-bg-opacity));
}

.bg-\[\#6d6e71\] {
  --tw-bg-opacity: 1;
  background-color: rgb(109 110 113 / var(--tw-bg-opacity));
}

.bg-\[\#E9EAEB\] {
  --tw-bg-opacity: 1;
  background-color: rgb(233 234 235 / var(--tw-bg-opacity));
}

.bg-\[\#e5e5e5\] {
  --tw-bg-opacity: 1;
  background-color: rgb(229 229 229 / var(--tw-bg-opacity));
}

.bg-\[\#f1f2f3\] {
  --tw-bg-opacity: 1;
  background-color: rgb(241 242 243 / var(--tw-bg-opacity));
}

.bg-\[\#f4f4f4\] {
  --tw-bg-opacity: 1;
  background-color: rgb(244 244 244 / var(--tw-bg-opacity));
}

.bg-\[\#f58220\] {
  --tw-bg-opacity: 1;
  background-color: rgb(245 130 32 / var(--tw-bg-opacity));
}

.bg-\[\#f9f9f9\] {
  --tw-bg-opacity: 1;
  background-color: rgb(249 249 249 / var(--tw-bg-opacity));
}

.bg-\[\#fff\] {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.bg-\[\#ffff\] {
  background-color: #fff;
}

.bg-black {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity));
}

.bg-black\/40 {
  background-color: #0006;
}

.bg-gray-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}

.bg-gray-200 {
  --tw-bg-opacity: 1;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity));
}

.bg-gray-600 {
  --tw-bg-opacity: 1;
  background-color: rgb(75 85 99 / var(--tw-bg-opacity));
}

.bg-transparent {
  background-color: #0000;
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.bg-opacity-50 {
  --tw-bg-opacity: .5;
}

.object-contain {
  -o-object-fit: contain;
  object-fit: contain;
}

.object-cover {
  -o-object-fit: cover;
  object-fit: cover;
}

.object-top {
  -o-object-position: top;
  object-position: top;
}

.p-0 {
  padding: 0;
}

.p-4 {
  padding: 1rem;
}

.p-6 {
  padding: 1.5rem;
}

.p-8 {
  padding: 2rem;
}

.px-0 {
  padding-left: 0;
  padding-right: 0;
}

.px-1 {
  padding-left: .25rem;
  padding-right: .25rem;
}

.px-16 {
  padding-left: 4rem;
  padding-right: 4rem;
}

.px-2 {
  padding-left: .5rem;
  padding-right: .5rem;
}

.px-3 {
  padding-left: .75rem;
  padding-right: .75rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.px-8 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.px-\[18px\] {
  padding-left: 18px;
  padding-right: 18px;
}

.px-\[4rem\] {
  padding-left: 4rem;
  padding-right: 4rem;
}

.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.py-0\.5 {
  padding-top: .125rem;
  padding-bottom: .125rem;
}

.py-1 {
  padding-top: .25rem;
  padding-bottom: .25rem;
}

.py-1\.5 {
  padding-top: .375rem;
  padding-bottom: .375rem;
}

.py-10 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.py-12 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.py-2 {
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.py-24 {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.py-28 {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.py-3 {
  padding-top: .75rem;
  padding-bottom: .75rem;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-5 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.py-6 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.py-7 {
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
}

.py-8 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.py-\[10rem\] {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.py-\[3px\] {
  padding-top: 3px;
  padding-bottom: 3px;
}

.py-\[6px\] {
  padding-top: 6px;
  padding-bottom: 6px;
}

.pb-2 {
  padding-bottom: .5rem;
}

.pb-5 {
  padding-bottom: 1.25rem;
}

.pl-3 {
  padding-left: .75rem;
}

.pr-2 {
  padding-right: .5rem;
}

.pr-4 {
  padding-right: 1rem;
}

.pt-3 {
  padding-top: .75rem;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.text-start {
  text-align: start;
}

.align-middle {
  vertical-align: middle;
}

.\!text-\[22px\] {
  font-size: 22px !important;
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-\[1\.5rem\] {
  font-size: 1.5rem;
}

.text-\[10px\] {
  font-size: 10px;
}

.text-\[11\.5px\] {
  font-size: 11.5px;
}

.text-\[11px\] {
  font-size: 11px;
}

.text-\[12px\] {
  font-size: 12px;
}

.text-\[13px\] {
  font-size: 13px;
}

.text-\[14px\] {
  font-size: 14px;
}

.text-\[15px\] {
  font-size: 15px;
}

.text-\[16px\] {
  font-size: 16px;
}

.text-\[17px\] {
  font-size: 17px;
}

.text-\[18px\] {
  font-size: 18px;
}

.text-\[19px\] {
  font-size: 19px;
}

.text-\[22px\] {
  font-size: 22px;
}

.text-\[24px\] {
  font-size: 24px;
}

.text-\[28px\] {
  font-size: 28px;
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-sm {
  font-size: .875rem;
  line-height: 1.25rem;
}

.text-sm\/7 {
  font-size: .875rem;
  line-height: 1.75rem;
}

.text-xs {
  font-size: .75rem;
  line-height: 1rem;
}

.font-\[500\] {
  font-weight: 500;
}

.font-bold {
  font-weight: 700;
}

.font-extrabold {
  font-weight: 800;
}

.font-light {
  font-weight: 300;
}

.font-medium {
  font-weight: 500;
}

.font-semibold {
  font-weight: 600;
}

.uppercase {
  text-transform: uppercase;
}

.italic {
  font-style: italic;
}

.leading-\[1\.75\] {
  line-height: 1.75;
}

.leading-\[1\.90\] {
  line-height: 1.9;
}

.leading-\[1\] {
  line-height: 1;
}

.leading-normal {
  line-height: 1.5;
}

.leading-relaxed {
  line-height: 1.625;
}

.leading-snug {
  line-height: 1.375;
}

.leading-tight {
  line-height: 1.25;
}

.tracking-normal {
  letter-spacing: 0;
}

.tracking-wide {
  letter-spacing: .025em;
}

.\!text-white {
  --tw-text-opacity: 1 !important;
  color: rgb(255 255 255 / var(--tw-text-opacity)) !important;
}

.text-\[\#000\] {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
}

.text-\[\#003366\] {
  --tw-text-opacity: 1;
  color: rgb(0 51 102 / var(--tw-text-opacity));
}

.text-\[\#009e99\] {
  --tw-text-opacity: 1;
  color: rgb(0 158 153 / var(--tw-text-opacity));
}

.text-\[\#00A895\], .text-\[\#00a895\] {
  --tw-text-opacity: 1;
  color: rgb(0 168 149 / var(--tw-text-opacity));
}

.text-\[\#00a99d\] {
  --tw-text-opacity: 1;
  color: rgb(0 169 157 / var(--tw-text-opacity));
}

.text-\[\#111\] {
  --tw-text-opacity: 1;
  color: rgb(17 17 17 / var(--tw-text-opacity));
}

.text-\[\#133c8b\] {
  --tw-text-opacity: 1;
  color: rgb(19 60 139 / var(--tw-text-opacity));
}

.text-\[\#149DCC\] {
  --tw-text-opacity: 1;
  color: rgb(20 157 204 / var(--tw-text-opacity));
}

.text-\[\#222\] {
  --tw-text-opacity: 1;
  color: rgb(34 34 34 / var(--tw-text-opacity));
}

.text-\[\#333\] {
  --tw-text-opacity: 1;
  color: rgb(51 51 51 / var(--tw-text-opacity));
}

.text-\[\#3A372A\], .text-\[\#3a372a\] {
  --tw-text-opacity: 1;
  color: rgb(58 55 42 / var(--tw-text-opacity));
}

.text-\[\#3a3a3a\] {
  --tw-text-opacity: 1;
  color: rgb(58 58 58 / var(--tw-text-opacity));
}

.text-\[\#555\] {
  --tw-text-opacity: 1;
  color: rgb(85 85 85 / var(--tw-text-opacity));
}

.text-\[\#663399\] {
  --tw-text-opacity: 1;
  color: rgb(102 51 153 / var(--tw-text-opacity));
}

.text-\[\#666666\] {
  --tw-text-opacity: 1;
  color: rgb(102 102 102 / var(--tw-text-opacity));
}

.text-\[\#6d6e71\] {
  --tw-text-opacity: 1;
  color: rgb(109 110 113 / var(--tw-text-opacity));
}

.text-\[\#CC0000\] {
  --tw-text-opacity: 1;
  color: rgb(204 0 0 / var(--tw-text-opacity));
}

.text-\[\#b30000\] {
  --tw-text-opacity: 1;
  color: rgb(179 0 0 / var(--tw-text-opacity));
}

.text-\[\#c00\], .text-\[\#cc0000\] {
  --tw-text-opacity: 1;
  color: rgb(204 0 0 / var(--tw-text-opacity));
}

.text-\[\#f58220\] {
  --tw-text-opacity: 1;
  color: rgb(245 130 32 / var(--tw-text-opacity));
}

.text-black {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
}

.text-gray-400 {
  --tw-text-opacity: 1;
  color: rgb(156 163 175 / var(--tw-text-opacity));
}

.text-gray-500 {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
}

.text-gray-600 {
  --tw-text-opacity: 1;
  color: rgb(75 85 99 / var(--tw-text-opacity));
}

.text-gray-700 {
  --tw-text-opacity: 1;
  color: rgb(55 65 81 / var(--tw-text-opacity));
}

.text-gray-800 {
  --tw-text-opacity: 1;
  color: rgb(31 41 55 / var(--tw-text-opacity));
}

.text-gray-900 {
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity));
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.underline {
  text-decoration-line: underline;
}

.no-underline {
  text-decoration-line: none;
}

.underline-offset-2 {
  text-underline-offset: 2px;
}

.accent-\[\#009e99\] {
  accent-color: #009e99;
}

.shadow {
  --tw-shadow: 0 1px 3px 0 #0000001a, 0 1px 2px -1px #0000001a;
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-\[0_3px_12px_rgba\(0\,0\,0\,0\.08\)\] {
  --tw-shadow: 0 3px 12px #00000014;
  --tw-shadow-colored: 0 3px 12px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-lg {
  --tw-shadow: 0 10px 15px -3px #0000001a, 0 4px 6px -4px #0000001a;
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-md {
  --tw-shadow: 0 4px 6px -1px #0000001a, 0 2px 4px -2px #0000001a;
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-sm {
  --tw-shadow: 0 1px 2px 0 #0000000d;
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-xl {
  --tw-shadow: 0 20px 25px -5px #0000001a, 0 8px 10px -6px #0000001a;
  --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color), 0 8px 10px -6px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.outline-none {
  outline-offset: 2px;
  outline: 2px solid #0000;
}

.outline {
  outline-style: solid;
}

.filter {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.backdrop-blur-\[1px\] {
  --tw-backdrop-blur: blur(1px);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
}

.transition {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter, backdrop-filter;
  transition-duration: .15s;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
}

.transition-all {
  transition-property: all;
  transition-duration: .15s;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
}

.transition-colors {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-duration: .15s;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
}

.transition-shadow {
  transition-property: box-shadow;
  transition-duration: .15s;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
}

.transition-transform {
  transition-property: transform;
  transition-duration: .15s;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
}

.duration-150 {
  transition-duration: .15s;
}

.duration-200 {
  transition-duration: .2s;
}

.duration-300 {
  transition-duration: .3s;
}

.duration-500 {
  transition-duration: .5s;
}

.duration-700 {
  transition-duration: .7s;
}

.ease-in-out {
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
}

@font-face {
  font-family: GillSansMT;
  src: url("../media/Gill Sans Medium.bf0b7c1e.woff") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: GE_SS_Medium;
  src: url("../media/GE_SS_Text_Medium.477be7d6.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

body {
  overflow-x: hidden;
  font-family: Janna LT, DroidKufiRegular !important;
}

#MrAccessInHand {
  z-index: 99;
  cursor: pointer;
  text-align: center;
  background-color: #133c8b;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  display: flex;
  position: fixed;
  bottom: 130px;
  left: 20px;
}

#MrAccessInHand img {
  filter: invert(90%) sepia(99%) saturate(2%) hue-rotate(702deg) brightness(109%) contrast();
  width: 40px;
  margin-top: 0 !important;
}

a {
  text-decoration: none !important;
}

._breadcrumb {
  background-color: #133c8b;
  padding: 25px;
}

p._breadcrumb-header {
  text-align: center;
  color: #fff;
  font-size: 25px;
  font-weight: bold;
  margin: 5px 0 !important;
}

.news-content {
  line-height: 1.5 !important;
}

.news-content p {
  margin-bottom: 0 !important;
}

.news-content.arabic p {
  font-size: 14px !important;
}

.Froms input[type="password"], .Froms input[type="email"], .Froms input[type="text"], .Froms input[type="number"], .Froms input[type="file"], .Froms input[type="date"], .Froms textarea, .Froms .ms-inputBox {
  color: #444;
  padding: 2px 5px;
}

#file-upload-button {
  height: 20px;
  color: #133c8b !important;
}

.form-group td {
  display: flex !important;
}

.loader-overlay {
  z-index: 9999;
  background: #ffffffb3;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
}

.spinner {
  border: 6px solid #ccc;
  border-top-color: #007bff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: .8s linear infinite spin;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.contact-msg {
  color: #c00;
  font-size: medium;
  font-weight: 700;
}

.head-android-icon {
  color: #fff;
  cursor: pointer;
  background: #e2e3e5;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  padding: 5px;
  font-size: 20px;
}

.head-android-icon:hover {
  background: #a4c639;
}

.my-swiper {
  height: 100% !important;
}

.my-swiper-slide {
  flex-direction: column !important;
  display: flex !important;
}

.publication-slide-head a {
  text-decoration: none;
  color: #6d6e71 !important;
}

.custom-quill .ql-container {
  min-height: 200px;
}

[dir="rtl"] .ql-snow .ql-picker:not(.ql-color-picker):not(.ql-icon-picker) svg {
  right: auto;
  left: 0 !important;
}

[dir="rtl"] .font-janna {
  font-family: Janna LT, DroidKufiRegular !important;
}

@media (width >= 1200px) {
  .contact-us-container, .survey-req-container {
    max-width: 1140px !important;
  }
}

.container-survey {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100% !important;
}

.container-survey h6 {
  color: #00a99d;
  text-transform: uppercase;
  margin: 0 0 5px;
  font-size: 13px;
  font-weight: bold;
}

[dir="rtl"] .container-survey h6 {
  font-family: Janna LT, DroidKufiRegular !important;
  font-size: 16px !important;
}

.container-survey .ms-fullWidth {
  width: calc(96% - 50px);
  margin: 0;
}

.container-survey p {
  color: #666;
  text-align: justify;
  margin-bottom: 1rem;
  font-family: GillSansMT, Arial;
  font-size: 12px;
  line-height: 21px;
}

[dir="rtl"] .container-survey p {
  font-size: 14px;
  font-family: Janna LT, DroidKufiRegular !important;
}

.container-population {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container-event-details {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.breadcrumb span {
  font-family: Gill Sans MT, Arial;
}

[dir="rtl"] .breadcrumb span, [dir="rtl"] .populaton_clock_text_div p, .populaton_clock_text_div h2 {
  font-family: GE_SS_Medium, Arial !important;
}

[dir="rtl"] .events_details_des_sub {
  font-size: 14px;
  font-family: GE_SS_Medium, Arial !important;
}

@media print {
  body * {
    visibility: hidden;
  }

  .print-area, .print-area * {
    visibility: visible;
  }

  .print-area {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}

@media (width >= 1200px) {
  .container-survey {
    max-width: 1140px !important;
  }

  .ListPage {
    width: 100%;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
  }
}

@media (width >= 992px) {
  .container-event-details {
    max-width: 1000px;
  }
}

@media (width >= 768px) {
  .container-event-details {
    max-width: 750px;
  }
}

@media (width <= 767px) {
  .event_details {
    padding-left: 5px;
    padding-right: 5px;
  }

  .event-details-map {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}

@media (width >= 992px) and (width <= 1199.98px) {
  .container-survey {
    max-width: 960px !important;
  }

  .container-survey .ms-fullWidth {
    width: calc(100% - 50px);
    margin: auto;
  }

  .ListPage {
    width: 100%;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
  }
}

@media (width >= 768px) and (width <= 991.98px) {
  .container-survey {
    max-width: 720px;
  }

  .container-survey .ms-fullWidth {
    width: calc(100% - 50px);
    margin: auto;
  }

  .ListPage {
    width: 100%;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
  }
}

@media (width >= 576px) and (width <= 767.98px) {
  .container-survey {
    max-width: 540px;
  }

  .container-survey .ms-fullWidth {
    width: calc(100% - 50px);
    margin: auto;
  }

  .container-survey .col-sm-12 {
    width: 100%;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(25px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeInUp {
  animation: .6s ease-out fadeInUp;
}

@media (width >= 1200px) {
  .container-population, .container-event-details {
    max-width: 1170px;
  }
}

@media (width <= 576px) {
  .container-survey .ms-fullWidth {
    width: calc(100% - 50px);
    margin: auto;
  }
}

@media (width >= 992px) and (width <= 1199.98px) {
  .container-population, .container-event-details {
    max-width: 960px;
  }
}

@media (width >= 768px) and (width <= 991.98px) {
  .container-population {
    max-width: 750px;
    padding: 0;
  }
}

@media (width >= 576px) and (width <= 767.98px) {
  .container-population {
    max-width: 540px;
  }
}

.placeholder\:text-gray-500::-moz-placeholder {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
}

.placeholder\:text-gray-500::placeholder {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
}

.after\:\!text-\[12px\]:after {
  content: var(--tw-content);
  font-size: 12px !important;
}

.after\:\!font-bold:after {
  content: var(--tw-content);
  font-weight: 700 !important;
}

.hover\:border-\[\#00a895\]:hover {
  --tw-border-opacity: 1;
  border-color: rgb(0 168 149 / var(--tw-border-opacity));
}

.hover\:border-\[\#133c8b\]:hover {
  --tw-border-opacity: 1;
  border-color: rgb(19 60 139 / var(--tw-border-opacity));
}

.hover\:border-\[\#6d6e71\]:hover {
  --tw-border-opacity: 1;
  border-color: rgb(109 110 113 / var(--tw-border-opacity));
}

.hover\:\!bg-\[\#008c7a\]:hover {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(0 140 122 / var(--tw-bg-opacity)) !important;
}

.hover\:bg-\[\#007a6f\]:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(0 122 111 / var(--tw-bg-opacity));
}

.hover\:bg-\[\#00907f\]:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(0 144 127 / var(--tw-bg-opacity));
}

.hover\:bg-\[\#00a895\]:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(0 168 149 / var(--tw-bg-opacity));
}

.hover\:bg-\[\#0a3e5b\]:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(10 62 91 / var(--tw-bg-opacity));
}

.hover\:bg-\[\#133c8b\]:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(19 60 139 / var(--tw-bg-opacity));
}

.hover\:bg-\[\#6d6e71\]:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(109 110 113 / var(--tw-bg-opacity));
}

.hover\:bg-gray-100:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}

.hover\:bg-gray-200:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity));
}

.hover\:bg-green-700:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(21 128 61 / var(--tw-bg-opacity));
}

.hover\:text-\[\#149DCC\]:hover {
  --tw-text-opacity: 1;
  color: rgb(20 157 204 / var(--tw-text-opacity));
}

.hover\:text-\[\#3a3a3a\]:hover {
  --tw-text-opacity: 1;
  color: rgb(58 58 58 / var(--tw-text-opacity));
}

.hover\:text-\[\#6d6e71\]:hover {
  --tw-text-opacity: 1;
  color: rgb(109 110 113 / var(--tw-text-opacity));
}

.hover\:text-\[\#c00\]:hover {
  --tw-text-opacity: 1;
  color: rgb(204 0 0 / var(--tw-text-opacity));
}

.hover\:text-gray-700:hover {
  --tw-text-opacity: 1;
  color: rgb(55 65 81 / var(--tw-text-opacity));
}

.hover\:text-white:hover {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.hover\:\!underline:hover {
  text-decoration-line: underline !important;
}

.hover\:underline:hover {
  text-decoration-line: underline;
}

.hover\:shadow-lg:hover {
  --tw-shadow: 0 10px 15px -3px #0000001a, 0 4px 6px -4px #0000001a;
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.focus\:outline-none:focus {
  outline-offset: 2px;
  outline: 2px solid #0000;
}

.focus\:ring-1:focus {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}

.focus\:ring-\[\#009e99\]:focus {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(0 158 153 / var(--tw-ring-opacity));
}

.focus\:ring-\[\#00A99D\]:focus {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(0 169 157 / var(--tw-ring-opacity));
}

.disabled\:opacity-60:disabled {
  opacity: .6;
}

.group:hover .group-hover\:block {
  display: block;
}

.group:hover .group-hover\:flex {
  display: flex;
}

.group:hover .group-hover\:hidden {
  display: none;
}

.group:hover .group-hover\:bg-\[\#0d2d67\] {
  --tw-bg-opacity: 1;
  background-color: rgb(13 45 103 / var(--tw-bg-opacity));
}

.group:hover .group-hover\:bg-\[\#133c8b\] {
  --tw-bg-opacity: 1;
  background-color: rgb(19 60 139 / var(--tw-bg-opacity));
}

@media (width >= 640px) {
  .sm\:mt-0 {
    margin-top: 0;
  }

  .sm\:mt-6 {
    margin-top: 1.5rem;
  }

  .sm\:h-\[320px\] {
    height: 320px;
  }

  .sm\:min-h-\[150px\] {
    min-height: 150px;
  }

  .sm\:w-72 {
    width: 18rem;
  }

  .sm\:max-w-\[230px\] {
    max-width: 230px;
  }

  .sm\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .sm\:gap-5 {
    gap: 1.25rem;
  }

  .sm\:gap-6 {
    gap: 1.5rem;
  }

  .sm\:p-8 {
    padding: 2rem;
  }

  .sm\:px-0 {
    padding-left: 0;
    padding-right: 0;
  }

  .sm\:px-10 {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .sm\:px-12 {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .sm\:px-24 {
    padding-left: 6rem;
    padding-right: 6rem;
  }

  .sm\:px-3 {
    padding-left: .75rem;
    padding-right: .75rem;
  }

  .sm\:px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .sm\:px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .sm\:px-8 {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .sm\:text-\[12px\] {
    font-size: 12px;
  }

  .sm\:text-\[14px\] {
    font-size: 14px;
  }

  .sm\:text-\[15px\] {
    font-size: 15px;
  }

  .sm\:text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}

@media (width >= 768px) {
  .md\:-right-6 {
    right: -1.5rem;
  }

  .md\:-top-6 {
    top: -1.5rem;
  }

  .md\:left-3 {
    left: .75rem;
  }

  .md\:right-3 {
    right: .75rem;
  }

  .md\:mb-0 {
    margin-bottom: 0;
  }

  .md\:mt-8 {
    margin-top: 2rem;
  }

  .md\:block {
    display: block;
  }

  .md\:\!h-9 {
    height: 2.25rem !important;
  }

  .md\:h-10 {
    height: 2.5rem;
  }

  .md\:h-8 {
    height: 2rem;
  }

  .md\:h-\[280px\] {
    height: 280px;
  }

  .md\:min-h-\[280px\] {
    min-height: 280px;
  }

  .md\:\!w-9 {
    width: 2.25rem !important;
  }

  .md\:w-10 {
    width: 2.5rem;
  }

  .md\:w-8 {
    width: 2rem;
  }

  .md\:w-80 {
    width: 20rem;
  }

  .md\:w-\[260px\] {
    width: 260px;
  }

  .md\:w-\[30\%\] {
    width: 30%;
  }

  .md\:w-\[320px\] {
    width: 320px;
  }

  .md\:w-\[400px\] {
    width: 400px;
  }

  .md\:w-\[70\%\] {
    width: 70%;
  }

  .md\:w-\[90\%\] {
    width: 90%;
  }

  .md\:max-w-\[230px\] {
    max-width: 230px;
  }

  .md\:max-w-lg {
    max-width: 32rem;
  }

  .md\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .md\:flex-row {
    flex-direction: row;
  }

  .md\:flex-nowrap {
    flex-wrap: nowrap;
  }

  .md\:justify-start {
    justify-content: flex-start;
  }

  .md\:justify-end {
    justify-content: flex-end;
  }

  .md\:gap-10 {
    gap: 2.5rem;
  }

  .md\:gap-8 {
    gap: 2rem;
  }

  .md\:p-10 {
    padding: 2.5rem;
  }

  .md\:px-10 {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .md\:px-12 {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .md\:px-16 {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .md\:px-20 {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .md\:px-40 {
    padding-left: 10rem;
    padding-right: 10rem;
  }

  .md\:py-16 {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .md\:py-2 {
    padding-top: .5rem;
    padding-bottom: .5rem;
  }

  .md\:py-28 {
    padding-top: 7rem;
    padding-bottom: 7rem;
  }

  .md\:py-6 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .md\:\!text-\[26px\] {
    font-size: 26px !important;
  }

  .md\:text-\[12px\] {
    font-size: 12px;
  }

  .md\:text-\[14px\] {
    font-size: 14px;
  }

  .md\:text-\[15\.5px\] {
    font-size: 15.5px;
  }

  .md\:text-\[15px\] {
    font-size: 15px;
  }

  .md\:text-\[16\.5px\] {
    font-size: 16.5px;
  }

  .md\:text-\[16px\] {
    font-size: 16px;
  }

  .md\:text-\[17px\] {
    font-size: 17px;
  }

  .md\:text-\[18px\] {
    font-size: 18px;
  }

  .md\:text-\[21px\] {
    font-size: 21px;
  }

  .md\:text-\[28px\] {
    font-size: 28px;
  }

  .md\:text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  .md\:text-xs {
    font-size: .75rem;
    line-height: 1rem;
  }

  .md\:after\:\!text-\[14px\]:after {
    content: var(--tw-content);
    font-size: 14px !important;
  }
}

@media (width >= 1024px) {
  .lg\:mt-10 {
    margin-top: 2.5rem;
  }

  .lg\:min-h-\[50vh\] {
    min-height: 50vh;
  }

  .lg\:w-96 {
    width: 24rem;
  }

  .lg\:w-\[440px\] {
    width: 440px;
  }

  .lg\:max-w-xl {
    max-width: 36rem;
  }

  .lg\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .lg\:flex-row {
    flex-direction: row;
  }

  .lg\:p-2 {
    padding: .5rem;
  }

  .lg\:p-4 {
    padding: 1rem;
  }

  .lg\:px-20 {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .lg\:px-24 {
    padding-left: 6rem;
    padding-right: 6rem;
  }

  .lg\:px-28 {
    padding-left: 7rem;
    padding-right: 7rem;
  }

  .lg\:px-56 {
    padding-left: 14rem;
    padding-right: 14rem;
  }

  .lg\:px-\[4rem\] {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .lg\:px-\[6\.5rem\] {
    padding-left: 6.5rem;
    padding-right: 6.5rem;
  }
}

@media (width >= 1280px) {
  .xl\:px-32 {
    padding-left: 8rem;
    padding-right: 8rem;
  }

  .xl\:px-36 {
    padding-left: 9rem;
    padding-right: 9rem;
  }

  .xl\:px-72 {
    padding-left: 18rem;
    padding-right: 18rem;
  }
}

.\[\&_\*\]\:\!text-white * {
  --tw-text-opacity: 1 !important;
  color: rgb(255 255 255 / var(--tw-text-opacity)) !important;
}

.\[\&_\*\]\:text-white * {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

/*# sourceMappingURL=styles_globals_css_2bef753f._.single.css.map*/