@font-face {
    font-family: 'Ostrich Sans Inline';
    src: url('OstrichSansInline.woff2') format('woff2'),
        url('OstrichSansInline.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

