._bg-white {
  background-color: #fff !important;
}
.events-section {
  background-color: #e2e3e4;
}

.events-accordion {
  padding-left: 40px;
}
[dir="rtl"] .events-accordion {
  padding-left: 15px;
  padding-right: 40px;
}
._date-sec {
  background-color: #00a895;
  padding: 25px;
}
._date-sec ._date {
  text-align: center;
  font-size: 110px;
  font-weight: bold;
  color: #fff;
  margin-top: 35px;
  line-height: 1.4;
}

.top-digit,
.bottom-digit {
  display: inline-block;
}

._date-sec:before {
  content: "";
  border-style: solid;
  border-width: 25px 25px 25px 30px;
  border-color: transparent transparent transparent #fff;
  position: absolute;
  left: -1px;
  top: 17px;
}
._date-sec ._month-year {
  text-align: center;
  color: #fff;
  font-weight: bold;
}
._calendar-desc-main-sec {
  background-color: #fff;
}
._calendar-desc-sub-sec {
  padding: 17px;
}
._calendar-desc-main-sec ._title-ul {
  padding: 0;
  width: 100%;
  display: inline-flex;
  margin: 0;
  margin-bottom: 12px;
}

._calendar-desc-main-sec ._title-ul li:first-child {
  width: 90%;
}
._calendar-desc-main-sec ._title-ul li:last-child {
  width: 10%;
}
._calendar-desc-main-sec ._title-ul li:last-child img {
  float: right;
}
[dir="rtl"] ._calendar-desc-main-sec ._title-ul li:last-child img {
  float: left;
}
._calendar-desc-main-sec ._title {
  color: #f57e20;
  font-weight: bold;
  margin-top: 12px;
  line-height: 1.6;
}
._calendar-desc-main-sec ._sub-text {
  font-size: 15px;
  line-height: normal;
  font-weight: normal !important;
  margin: 0 0 8px;
}
._calendar-desc-main-sec ._events-ul {
  padding: 0;
}
._calendar-desc-main-sec ._events-ul li {
  padding: 6px;
  background-color: #e2e3e4;
  margin-bottom: 10px;
  border-radius: 22px;
}
._calendar-desc-main-sec ._events-ul li:before {
  background-repeat: no-repeat;
  content: "";
  position: absolute;
  display: inline-block;
  background-size: 50px 35px;
  width: 50px;
  height: 35px;
  margin-top: -6px;
  margin-left: -7px;
}
[dir="rtl"] ._calendar-desc-main-sec ._events-ul li:before {
  margin-right: -7px;
  margin-left: 0;
}
._calendar-desc-main-sec ._events-ul li._time-date:before {
  background-image: url(/assets/images/calendar-icons/calendar-1.png);
}
._calendar-desc-main-sec ._events-ul li._speaker:before {
  background-image: url(/assets/images/calendar-icons/speaker.png);
}
._calendar-desc-main-sec ._events-ul li._location:before {
  background-image: url(/assets/images/calendar-icons/location.png);
}
._calendar-desc-main-sec ._events-ul li._avatar:before {
  background-image: url(/assets/images/calendar-icons/avatar.png);
}

._calendar-desc-main-sec ._events-ul li span {
  margin-left: 50px;
  display: block;
  font-weight: bold;
  font-size: 14px;
}
[dir="rtl"] ._calendar-desc-main-sec ._events-ul li span {
  margin-right: 50px;
}
.calendar-row {
  margin-bottom: 20px;
}

#loadMore {
  margin: auto;
  color: #f67f21 !important;
  font-weight: bold !important;
  text-align: center;
}
#loadMore:hover {
  text-decoration: underline;
}

.events-sub-btn {
  text-transform: uppercase;
  width: 100%;
  color: #fff !important;
  background-color: #00a99d !important;
   border: 1px solid #00a99d !important;
  padding: 7px 0 !important;
  margin: 0;
  font-family: Gill Sans MT, Arial;
  border-radius: 4px;
  font-size: 14px;
}

.events-sub-btn:hover,.back_btn:hover{
    background-color: #e6e6e6 !important;
    border: 1px solid #adadad !important;
}

.bg-en {
  background-image: url("/assets/images/populationBanner");
}

.bg-ar {
  background-image: url("/assets/images/Indicators_List_bg_ar.jpg");
  background-position: right;
}

.soicalmediacontent .fa-facebook-f {
  padding: 3px 7px !important;
}

.soicalmediacontent .fab {
  padding: 3px;
  font-size: 19px;
  border-radius: 0px !important;
  color: #fff;
}
.soicalmediacontent a {
  margin-right: 3px;
}

.gill-font {
  font-family: GillSansMT, Arial;
}
.event-details-rating label {
  margin-bottom: 0;
}

@media (min-width: 578px) and (max-width: 1024px) {
  .row.home-body {
    padding: 20px 28px;
  }
  ._date-sec ._date {
    font-size: 100px;
  }
}

@media (max-width: 991px) {
  ._date {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  ._breadcrumb {
    padding: 15px;
  }
  .bg-en {
    background-image: url("/assets/images/head_2_mobileeng.jpg");
  }

  .bg-ar {
    background-image: url("/assets/images/head_2_mobile.jpg");
  }
}
